<div>view</div>
<div>
    <ul>
        <li>
            <a href="javascript:;" (click)="setDynamic('sky')">sky</a>
        </li>
        <li>
            <a href="javascript:;" (click)="setDynamic('ocean')">ocean</a>
        </li>
        <li>
            <a routerLink="/login" routerLinkActive="active">go login</a>
        </li>
    </ul>
</div>

<div>
    <a href="javascript:;" (click)="showMdDialog($event)">Angular Material Dialog test</a>
    <a href="javascript:;" (click)="showCustomerDialog($event)">Customer Dialog Test</a>
</div>

<div>
    <button [@flyInOut]="isShowAnimate"
            (click)="isShowAnimate=!isShowAnimate"
            *ngIf="isShowAnimate">animation</button>
</div>

<div class="dynamic-container">
    <ng-template #dynamicHost></ng-template>
</div>

