<div>login</div>
<ul>
  <li>
    <a routerLink="/main/form" routerLinkActive="active">form</a>
  </li>
  <li>
    <a routerLink="/main/dynamic" routerLinkActive="active">dynamic component</a>
  </li>
  <li>
    <a routerLink="/main/dynamic/drag" routerLinkActive="active">drag component</a>
  </li>
  <li>
    <a routerLink="/main/dynamic/tree" routerLinkActive="active">tree component</a>
  </li>
  <li>
    <a routerLink="/main/canvas" routerLinkActive="active">canvas component</a>
  </li>
  <li>
    <a routerLink="/main/handsontable" routerLinkActive="active">handsontable component</a>
  </li>
  <li>
    <a routerLink="/main/canvas/jsplumb" routerLinkActive="active">jsplumb component</a>
  </li>
  <li>
    <a routerLink="/main/dynamic/tab" routerLinkActive="active">tab component</a>
  </li>
</ul>

<div class="charts clearfix">
    <div class="chart">
        <div class="inner"></div>
    </div>
    <div class="chart">
        <div class="inner"></div>
    </div>
    <div class="chart">
        <div class="inner"></div>
    </div>
</div>
<div>
    <button (click)="proxyClick()">proxy</button>
</div>
<div>
    <button (click)="httpClienSubscribeClick()">http subscribe test</button>
    <button (click)="httpClienPromiseClick()">http promise test</button>
    <button (click)="httpClienPostClick()">http post test</button>
</div>
