<div>login</div>
<ul>
  <li>
    <a routerLink="/main/form" routerLinkActive="active">form</a>
  </li>
  <li>
    <a routerLink="/main/dynamic" routerLinkActive="active">dynamic component</a>
  </li>
  <li>
    <a routerLink="/main/dynamic/drag" routerLinkActive="active">drag component</a>
  </li>
  <li>
    <a routerLink="/main/dynamic/tree" routerLinkActive="active">tree component</a>
  </li>
  <li>
    <a routerLink="/main/canvas" routerLinkActive="active">canvas component</a>
  </li>
</ul>

<div class="charts clearfix">
    <div class="chart">
        <div class="inner"></div>
    </div>
    <div class="chart">
        <div class="inner"></div>
    </div>
    <div class="chart">
        <div class="inner"></div>
    </div>
</div>
<div>
    <button (click)="proxyClick()">proxy</button>
</div>
