<h2 class="mb10">form with primeNG</h2>
<h4 class="mb5">Button</h4>
<button pButton type="button" label="click"></button>
<button pButton type="button" label="click" icon="fa-check"></button>
<button pButton type="button" label="click" icon="fa-check" iconPos="right"></button>
<button pButton type="button" class="ui-button-secondary"></button>
<button pButton type="button" class="ui-button-success"></button>
<button pButton type="button" class="ui-button-info"></button>
<button pButton type="button" class="ui-button-warning"></button>
<button pButton type="button" class="ui-button-danger"></button>

<div class="textline mtb10"></div>


<h2 class="mb10">ant design</h2>

<h4 class="mb5">Button</h4>
<button class="btn primary">Primary</button>
<button class="btn disabled">Disabled</button>
<button class="btn">Default</button>

<h4 class="mtb5">Button Size</h4>
<button class="btn">Normal</button>
<button class="btn" size="large">Large</button>
<button class="btn" size="small">Small</button>

<h4 class="mtb5">Button Icon</h4>
<button class="btn icon">
    <i class="fa fa-search" aria-hidden="true"></i>
    Icon
</button>
<button class="btn disabled icon" size="large">
    <i class="fa fa-plus-circle" aria-hidden="true"></i>
    Icon
</button>
<button class="btn icon" size="small">
    <i class="fa fa-user-o" aria-hidden="true"></i>
    Icon
</button>
<button class="btn icon">
    <i class="fa fa-search" aria-hidden="true"></i>
    Icon
</button>
<button class="btn icon only" size="large">
    <i class="fa fa-search" aria-hidden="true"></i>
</button>
<button class="btn disabled icon only">
    <i class="fa fa-search" aria-hidden="true"></i>
</button>
<button class="btn icon only" size="small">
    <i class="fa fa-search" aria-hidden="true"></i>
</button>

<h4 class="mtb5">Button Group</h4>
<div class="btn-group">
    <button class="btn">First</button>
    <button class="btn">Second</button>
    <button class="btn primary">Third</button>
</div>

<h4 class="mt30 mb5">Input</h4>
<input type="text" class="input" placeholder="input">
<h4 class="mtb5">Input Size</h4>
<input type="text" class="input" size="large" placeholder="large input">
<input type="text" class="input" placeholder="normal input">
<input type="text" class="input" size="small" placeholder="small input">
<h4 class="mtb5">Textarea</h4>
<textarea class="input" placeholder="enter something"></textarea>
<h4 class="mtb5">Input Wrapper</h4>
<span class="input-icon" position="left">
    <i class="fa fa-user-o" aria-hidden="true"></i>
    <input type="text" class="input" placeholder="input">
</span>
<span class="input-icon" position="right">
    <i class="fa fa-user-o" aria-hidden="true"></i>
    <input type="text" class="input" placeholder="input">
</span>
<span class="input-icon" position="right">
    <i class="fa fa-user-o" aria-hidden="true"></i>
    <input type="text" class="input" size="large" placeholder="input">
</span>
<span class="input-icon" position="right">
    <i class="fa fa-user-o" aria-hidden="true"></i>
    <input type="text" class="input" size="small" placeholder="input">
</span>


<h4 class="mt30 mb5">Checkbox</h4>
<span class="checkbox">
    <input type="checkbox" id="checkbox">
    <label for="checkbox"></label>
</span>
<h4 class="mt30 mb5">Radio</h4>
<span class="radio">
    <input type="radio" id="radio1" name="radio">
    <label for="radio1"></label>
</span>
<span class="radio">
    <input type="radio" id="radio2" name="radio">
    <label for="radio2"></label>
</span>


<h4 class="mt30 mb5">Grid</h4>
<div class="row gutter rowstyle mb5">
    <div class="col-1">col-1</div>
    <div class="col-2">col-2</div>
    <div class="col-3">col-3</div>
    <div class="col-4">col-4</div>
</div>
<div class="row rowstyle mb5">
    <div class="col-6">col-6</div>
    <div class="col-6">col-6</div>
</div>
<div class="row rowstyle mb5">
    <div class="col-4">col-4</div>
    <div class="col-4">col-4</div>
    <div class="col-4">col-4</div>
</div>
<div class="row rowstyle mb5">
    <div class="col-2">col-2</div>
    <div class="col-2">col-2</div>
    <div class="col-2">col-2</div>
    <div class="col-2">col-2</div>
    <div class="col-2">col-2</div>
    <div class="col-2">col-2</div>
</div>
