<h2>form with primeNG</h2>

<h4>Button</h4>
<button pButton type="button" label="click"></button>
<button pButton type="button" label="click" icon="fa-check"></button>
<button pButton type="button" label="click" icon="fa-check" iconPos="right"></button>
<button pButton type="button" class="ui-button-secondary"></button>
<button pButton type="button" class="ui-button-success"></button>
<button pButton type="button" class="ui-button-info"></button>
<button pButton type="button" class="ui-button-warning"></button>
<button pButton type="button" class="ui-button-danger"></button>
